altgraph==0.17
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
flake8==3.9.2
idna==2.10
isort==5.8.0
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyYAML==5.4.1
requests==2.25.1
soupsieve==2.2.1
urllib3==1.26.5
wiktionaryparser==0.0.97
yapf==0.31.0
